@import "tailwindcss";

@theme {
  --color-primary: #4b2bee;
  --color-primary-hover: #3a21b8;
  --color-secondary: #00f0ff;
  --color-background-light: #f6f6f8;
  --color-background-dark: #0a0a0c;
  --color-surface-dark: #141122;
  --color-border-dark: #292348;
  --color-text-secondary: #9b92c9;

  --font-display: var(--font-manrope), "Manrope", sans-serif;
  --font-sans: var(--font-manrope), "Manrope", sans-serif;
  --font-mono: "Fira Code", monospace;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
}

@layer base {
  body {
    @apply bg-background-dark text-slate-100 font-display antialiased selection:bg-primary/30 selection:text-white;
  }
}